# üìä Exerc√≠cios Pr√°ticos: Coleta e Prepara√ß√£o de Dados com APIs

## Objetivo:
- Explorar diferentes APIs p√∫blicas.
- Coletar, processar e armazenar dados usando Pandas.
- Praticar manipula√ß√£o de dados e tratamento de erros.
---

## üìå Exerc√≠cio 1: Explorando Outra API

**Tarefa:**
- Escolha uma API p√∫blica diferente do Open-Meteo.
- Fa√ßa uma requisi√ß√£o e converta os dados em um DataFrame.
- Exiba as primeiras 5 linhas.

**Sugest√µes de APIs:**
1. NASA API: https://api.nasa.gov/
2. The Dog API: https://thedogapi.com/
3. Pok√©API: https://pokeapi.co/

**Dicas:**
- Utilize `requests.get()` para obter os dados.
- Extraia apenas os campos mais relevantes do JSON.

In [12]:
import pandas as pd

import requests
#Exerc√≠cio 1
url = "https://api.thedogapi.com/v1/breeds"

response = requests.get(url)

dados = response.json()
df = pd.DataFrame(dados)
df.head()

,weight,height,id,name,bred_for,breed_group,life_span,temperament,origin,reference_image_id,country_code,description,history
0,"{'imperial': '6 - 13', 'metric': '3 - 6'}","{'imperial': '9 - 11.5', 'metric': '23 - 29'}",1,Affenpinscher,"Small rodent hunting, lapdog",Toy,10 - 12 years,"Stubborn, Curious, Playful, Adventurous, Activ...","Germany, France",BJa4kxc4X,NaN,NaN,NaN
1,"{'imperial': '50 - 60', 'metric': '23 - 27'}","{'imperial': '25 - 27', 'metric': '64 - 69'}",2,Afghan Hound,Coursing and hunting,Hound,10 - 13 years,"Aloof, Clownish, Dignified, Independent, Happy","Afghanistan, Iran, Pakistan",hMyT4CDXR,AG,NaN,NaN
2,"{'imperial': '44 - 66', 'metric': '20 - 30'}","{'imperial': '30', 'metric': '76'}",3,African Hunting Dog,A wild pack animal,NaN,11 years,"Wild, Hardworking, Dutiful",,rkiByec47,NaN,NaN,NaN
3,"{'imperial': '40 - 65', 'metric': '18 - 29'}","{'imperial': '21 - 23', 'metric': '53 - 58'}",4,Airedale Terrier,"Badger, otter hunting",Terrier,10 - 13 years,"Outgoing, Friendly, Alert, Confident, Intellig...","United Kingdom, England",1-7cgoZSh,NaN,NaN,NaN
4,"{'imperial': '90 - 120', 'metric': '41 - 54'}","{'imperial': '28 - 34', 'metric': '71 - 86'}",5,Akbash Dog,Sheep guarding,Working,10 - 12 years,"Loyal, Independent, Intelligent, Brave",,26pHT3Qk7,NaN,NaN,NaN

## üìå Exerc√≠cio 2: Coletando e Filtrando Dados Clim√°ticos

**Tarefa:**
- Modifique a requisi√ß√£o para obter **dados di√°rios** do Open-Meteo.
- Filtre os dados para uma **data espec√≠fica**.
- Salve a temperatura em um CSV.


### Dicas:

- Filtre o DataFrame para uma data espec√≠fica usando `.str.startswith()`.
- Separe somente os dados dos pr√≥ximo dois dias.
- Utilize `to_csv()` para salvar os dados.
"""

In [ ]:
import pandas as pd
import requests
DataInicial = "2022-01-01"
DataFinal = "2022-01-03"
def fetch_weather_data():
    api_url = f"https://api.open-meteo.com/v1/forecast?latitude=-23.55&longitude=-46.63&&start_date={DataInicial}&end_date={DataFinal}&hourly=temperature_2m&timezone=America/Sao_Paulo"
    response = requests.get(api_url)
    dados = response.json()
    df = pd.DataFrame(dados)
    print(df)
    return df

df = fetch_weather_data()
df.to_csv("clima.csv", index=False)

                latitude  longitude  generationtime_ms  utc_offset_seconds  \
time               -23.5      -46.5           0.023603              -10800
temperature_2m     -23.5      -46.5           0.023603              -10800

                         timezone timezone_abbreviation  elevation  \
time            America/Sao_Paulo                 GMT-3      737.0
temperature_2m  America/Sao_Paulo                 GMT-3      737.0

               hourly_units                                             hourly
time                iso8601  [2022-01-01T00:00, 2022-01-01T01:00, 2022-01-0...
temperature_2m           ¬∞C  [None, None, None, None, None, None, None, Non...

## üìå Exerc√≠cio 3: Lidando com Erros de API

**Tarefa:**
- Fa√ßa uma requisi√ß√£o errada para a API (ex.: remova `latitude`).
- Imprima o c√≥digo de status HTTP e a mensagem de erro.
- Ajuste a requisi√ß√£o at√© obter sucesso.

### Dicas:
- Utilize `response.status_code` para verificar erros.
- Teste modificar a URL propositalmente para entender os erros.
"""

In [67]:

def test_api_error():

    api_url = f"https://api.open-meteo.com/v1/forecast?longitude=&daily=temperature_2m_max&timezone=America/Sao_Paulo"  # Erro proposital
    response = requests.get(api_url)
    print(f'Estatus do c√≥digo: {response.status_code}')

    api_url = f"https://api.open-meteo.com/v1/forecast?longitude=-23.55&daily=temperature_2m_max&timezone=America/Sao_Paulo"  # Erro proposital
    response = requests.get(api_url)
    print(f'Estatus do c√≥digo: {response.status_code}')
        
test_api_error()

Estatus do c√≥digo: 200
Estatus do c√≥digo: 400

## üìå Exerc√≠cio 4: Automatizando M√∫ltiplas Requisi√ß√µes

**Tarefa:**
- Modifique a fun√ß√£o `fetch_weather_data()` para coletar dados de m√∫ltiplas cidades.
- Salve um CSV separado para cada cidade.

**Dicas**
- Utilize um loop for para iterar sobre as localiza√ß√µes diferentes
- Crie URLs din√¢micas com `f"string"`.
"""

In [ ]:
def fetch_multiple_locations():
    cities = [
        {"lat": -23.55, "lon": -46.63, "name": "Sao_Paulo"},
        {"lat": 40.71, "lon": -74.01, "name": "New_York"},
        {"lat": 51.51, "lon": -0.13, "name": "London"}
    ]
    #### Acessar os dados das 3 cidades
    for city in cities:
        api_url = f"https://api.open-meteo.com/v1/forecast?latitude={city['lat']}&longitude={city['lon']}&hourly=temperature_2m&timezone=America/Sao_Paulo"
        response = requests.get(api_url)
        dados = response.json()
        df = pd.DataFrame(dados)
        df.to_csv(f"{city['name']}_clima.csv", index=False)
        print(f"Arquivo Salvo em: {city['name']}_clima.csv")

fetch_multiple_locations()

Arquivo Salvo: Sao_Paulo_clima.csv
Arquivo Salvo: New_York_clima.csv
Arquivo Salvo: London_clima.csv

## üìå Exerc√≠cio 5: Desafio Aberto

**Tarefa:**
- Encontre uma API p√∫blica e colete dados relevantes.
- Aplique pelo menos **duas transforma√ß√µes** nos dados (ex.: filtrar, remover nulos, converter formatos).
- Salve o resultado em um arquivo JSON.

### Dicas:
- Explore APIs de seu interesse (esportes, m√∫sica, astronomia, etc.).
- Utilize `.dropna()`, `.filter()`, ou `.groupby()` para transformar os dados.
- Salve usando `to_json()`.

In [ ]:
def open_ended_exercise():
    # Substitua essa API por uma de sua escolha!
    api_url = "https://jsonplaceholder.typicode.com/posts"
    response = requests.get(api_url)
    df = pd.DataFrame(response.json())
    
    df = df[df["comments"].apply(len) > 100]
    
    df = df.dropna(subset=["title"])
    
    df["created_at"] = pd.to_datetime(df["created_at"])
    
    df.to_json("Arquivo_Modificado.json", index=False)
    print("Arquivo Salvo em: Arquivo_Modificado.json")

    return df

open_ended_exercise()

KeyError: 'comments'