In [ ]:
import pandas as pd
import json


"""
# üìä Exerc√≠cios: Manipula√ß√£o de Dados JSON

Nesta atividade, voc√™ praticar√°:
1. Carregamento de arquivos JSON.
2. Extra√ß√£o e normaliza√ß√£o de dados aninhados.
3. Filtragem e agrega√ß√£o de informa√ß√µes.
4. Manipula√ß√£o de categorias e hor√°rios comerciais.

**Objetivo:** Aprofundar o entendimento sobre dados semi-estruturados atrav√©s de desafios pr√°ticos.

---
"""


# --- Exerc√≠cio 1: Carregar um JSON salvo anteriormente ---
"""
## 1.1. Carregar um arquivo JSON

- O arquivo dispon√≠vel no classroom cont√©m dados de estabelecimentos do Yelp.
- Leia o arquivo `data.json` e carregue-o em um DataFrame.
"""

In [ ]:

file_path = "data.json"  # Substituir pelo nome certo caso necess√°rio

with open(file_path, "r", encoding="utf-8") as f:
    data = json.load(f)

df = pd.DataFrame(data)
df.head()

### üîπ Pergunta:
Quantos registros existem no arquivo JSON?
Dica: Utilize `len( )` para contar os elementos.
"""

In [ ]:
len(df)


# --- Exerc√≠cio 2: Criar um DataFrame com informa√ß√µes b√°sicas ---
## 2.1. Transformar o JSON em um DataFrame

- Extraia apenas os seguintes campos para um DataFrame:
  - `business_id`
  - `name`
  - `city`
  - `stars`
  - `review_count`
  - `categories`
- Exiba as **5 primeiras linhas**.
"""

In [ ]:

df2 = pd.DataFrame([{
    'bid': d.get('business_id'),
    'Nome': d.get('name'),
    'Cidade': d.get('city'),
    'Stars': d.get('stars'),
    'Contagem de reviews': d.get('review_count'),
    'Categorias': d.get('categories')
}]for d in data)

print()
df2


"""
### üîπ Pergunta:
Qual cidade tem o maior n√∫mero de estabelecimentos registrados?
Dica: Utilize `value_counts()` e `idxmax()` se quiser.
"""

In [ ]:
df['city'].value_counts().idxmax()

# --- Exerc√≠cio 3: Trabalhar com Categorias ---

## 3.1. Expandindo categorias em m√∫ltiplas linhas

- A coluna `categories` cont√©m m√∫ltiplos valores separados por v√≠rgula.
- Converta-a em uma lista e **exploda os valores** para transformar cada categoria em uma linha separada.

In [ ]:

df_exploded = df.explode('categories')
### "df_exploded = ???

df_exploded.head()


"""
### üîπ Pergunta:
Qual a categoria mais comum entre os estabelecimentos?
Dica: Utilize `value_counts().head(10)`.
"""

In [ ]:
df['categories'].value_counts().head(10)

# --- Exerc√≠cio 4: Trabalhar com Hor√°rios ---
"""
## 4.1. Criar um DataFrame com hor√°rios comerciais

- Extraia os hor√°rios de funcionamento (se existirem) para cada estabelecimento.
- Caso um estabelecimento n√£o tenha hor√°rios, preencha com `"Closed"`.
"""

In [ ]:

weekdays = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]

df_hours = pd.DataFrame([
    {
        'business_id': d.get('business_id'),
        **{day: (d.get('hours') or {} ).get(day, 'Closed') for day in weekdays}  # Extrai hor√°rio ou 'Closed' caso n√£o seja encontrado.
    } for d in data
])

print(df_hours.head())


"""
### üîπ Pergunta:
Quantos estabelecimentos est√£o fechados no domingo?
"""

In [ ]:
fechados_domingo = df_hours[df_hours['Sunday'] == 'Fechado'].shape[0]

print(f"Estabelecimentos fechados no domingo: {fechados_domingo}")


# --- Exerc√≠cio 5: Cruzando Informa√ß√µes ---
"""
## 5.1. Encontrar os restaurantes mais bem avaliados de uma cidade espec√≠fica

- Selecione apenas estabelecimentos da cidade **Tucson**.
- Filtre apenas aqueles com a categoria **Restaurants**.
- Ordene por **maior n√∫mero de estrelas** e exiba os 10 primeiros.
"""

In [ ]:
mais_avaliados = df[df['city'] == 'Tucson']
mais_avaliados = df[df['categories'] == 'Restaurants']

mais_avaliados = mais_avaliados.sort_values('stars', ascending=False)
mais_avaliados.head(10)


"""
### üîπ Pergunta:
Qual √© o restaurante mais bem avaliado em Tucson?
Dica: Ordene o dataframe com sort_values("coluna") em ordem descendente veja os primeiros elementos.

Escolha aquele entre os 10 primeiros com mais estrelas e mais reviews.
"""

In [50]:
df_star = mais_avaliados = mais_avaliados.sort_values('stars', ascending=False).head(10)

df_review = df_star.sort_values(by='review_count', ascending=False).head(10)

df_review.head(1)

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
90066,sk11RFNogbE0axZUIDBRHw,Los Mezquites,2341-2399 W Drexel Rd,Tucson,AZ,85746,32.148224,-111.01744,5.0,11,1,"{'RestaurantsReservations': 'False', 'Restaura...",Restaurants,"{'Monday': '11:0-22:0', 'Wednesday': '11:0-22:..."


# --- Exerc√≠cio 6: Agrupando Informa√ß√µes ---
"""
## Qual a cidade com maior m√©dia de estrelas em seus restaurantes?
"""

In [57]:
df_business = pd.DataFrame([{
    "business_id": d.get("business_id"),
    "name": d.get("name"),
    "city": d.get("city"),
    "stars": d.get("stars"),
    "categories": d.get("categories")
} for d in data])

# Fa√ßa o split das categorias ("categories")


df_completasplit = df_completa.assign(categoria= df_completa['categoria'].str.split(', ')) 
# Transforma a coluna 'categoria' em uma lista de strings

df_completasplit.head()
# Filtre os restaurantes

# Agrupe por cidade, calcule a m√©dia, e ordene

# Exiba os valores

NameError: name 'df_completa' is not defined

# üöÄ Parab√©ns!
"Exerc√≠cios conclu√≠dos! üéâ"